
<table class="table no-js no-mobile" style="margin-top: 20px;">
	<thead>
	</thead>
	<tbody>
	<tr>
		<td>
			<h3 class="stitre2">
				&nbsp;
			</h3>
		</td>
		<td class="price">
			<h3 class="stitre2">
				<strong>Envol</strong>
			</h3>
		</td>
		<td class="price">
			<h3 class="stitre2">
				<strong>Orbite</strong>
			</h3>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead">
				Frais de base mensuel
			</p>
		</td>
		<td class="price">
			<p class="lead">
				19$
			</p>
		</td>
		<td class="price">
			<p class="lead">
				69$
			</p>
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
		<td class="price">
			Inclus dans ce forfait
		</td>
		<td class="price">
			Inclus dans ce forfait
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead">
				<strong>Application Membres</strong>
			</p>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Base de données pour vos membres
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Champs natifs
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Champs personnalisés
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			Éditeur de formulaires
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Gestion des adhésions gratuites
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Codes rabais et frais spéciaux
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Système de validation des adhésions
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Communications automatisées
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Factures en pièce jointe des courriels
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Documents sur mesure en pièce jointe des courriels&nbsp;
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
		<td class="price">
			<i class="icon-check"></i>
		</td>
	</tr>
	<tr>
		<td>
			<p class="lead">
				<strong>Application Dons</strong>
			</p>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
	</tr>
	<tr>
		<td>
			Gestionnaire de campagne
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
	</tr>
	<tr>
		<td>
			Gestionnaire de type de campagne
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
	</tr>
	<tr>
		<td>
			Émission des reçus fiscaux
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Champs personnalisés
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Éditeur de formulaire
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
	</tr>
	<tr class="feature-toggle">
		<td>
			Communications automatisées
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
		<td class="price">
			<i class="icon-check"> </i>
		</td>
	</tr>
	</tbody>
</table>
<button type="button" class="btn btn-primary"><fieldset>faire un forfait</fieldset></button>
